<!-- <li class="pull-right" *ngIf="loggedIn"><a [routerLink]="'/profile/'+ profileId">{{ username }}</a></li>
<li class="pull-right" *ngIf="loggedIn"><a (click)="logout();">Logout</a></li>
<li class="pull-right" *ngIf="!loggedIn"><a routerLink="/register">Register</a></li>
<li class="pull-right" *ngIf="!loggedIn"><a routerLink="/login">Login</a></li> -->
<md-toolbar color="primary" class="md-elevation-z3">
    <span>Socnet</span>

    <span class="filling"></span>

    <span *ngIf="loggedIn"><span [routerLink]="'/profile/'+ profileId">{{ username }}</span></span>
    <span *ngIf="loggedIn"><a (click)="logout();">Logout</a></span>
    <span *ngIf="!loggedIn"><a routerLink="/register">Register</a></span>
    <span *ngIf="!loggedIn"><a routerLink="/login">Login</a></span>
</md-toolbar>
