<div class="comment row">
    <div class="col-sm-offset-2">
        <div class="comment-header row">
            <div class="col-sm-4">
                <img [src]="comment.profile.avatarSrc" class="img img-responsive" style="max-height: 40px;">
            </div>
            <div class="col-sm-8">
                <h3>{{ comment.profile.firstName + ' ' + comment.profile.lastName }}</h3>
            </div>
        </div>
        <div class="comment-content row">
            <div class="col-sm-9">
                <p>{{ comment.content }}</p>
            </div>
            <div class="col-sm-3">
                <span>+</span>
                <span>{{ comment.rating }}</span>
                <span>-</span>
            </div>
        </div>
    </div>
</div>
