<div class="post md-elevation-z3">
    <div class="post-header">
        <div class="col-md-4">
            <img [src]="post.profile.avatarSrc" class="img-responsive img" style="max-height: 80px;"/>
        </div>
        <div class="col-md-8">
            <h3>{{ post.profile.firstName + ' ' + post.profile.lastName }}</h3>
        </div>
    </div>
    <div class="post-content">
        <p>{{ post.content }}</p>
    </div>
    <div class="post-rating">
        <span>+</span>
        <span>{{ post.rating }}</span>
        <span>-</span>
    </div>
    <div class="post-comments row">
        <div class="col-offset-3">
            <div class="post-comment" *ngFor="let comment of post.comments">
                <socnet-group-comment [comment]="comment"></socnet-group-comment>
            </div>
        </div>
    </div>
    <div class="post-new-comment" style="border-bottom: 1px solid black">
        new comment bar
    </div>
</div>
