<h1>Membership requests:</h1>

<p *ngIf="loading">loading...</p>

<h3 *ngIf="!loading && (requests.length == 0)">No requests</h3>

<div *ngIf="(requests.length > 0) && !loading">
    <div class="request well col-xs-6 col-xs-offset-3" *ngFor="let request of requests">
            <p>{{ request.profile.firstName+' '+request.profile.lastName }}</p>
            <button class="btn btn-success pull-left" (click)="accept(request.requestId)">Accept</button>
            <button  class="btn btn-danger pull-right" (click)="decline(request.requestId)">Decline</button>
    </div>
</div>

