<div class="container posts row" *ngIf="isMember">
    <div class="form-group">
        <textarea class="form-control"></textarea>
        <button type="button" class="btn btn-info pull-right">Dodaj post</button>
    </div>
    <div *ngIf="loading">
        loading posts.....
    </div>
    <div *ngIf="!loading">
        <div class="col-sm-12" *ngFor="let post of posts">
            <socnet-group-post [post]="post"></socnet-group-post>
        </div>
    </div>
</div>
<div class="container posts" *ngIf="!isMember">
    join to browse
</div>
